// Import custom variables default overrides here
$primary: rgb(127, 24, 127);
$gray: #e6e6e6;

$theme-colors: (
  "primary": $primary,
  "gray": $gray,
);

// Create your own map
$custom-color: (
  "icon-background": rgba(127, 24, 127, 0.2),
);

// Merge maps
$theme-colors: map-merge($theme-colors, $custom-color);

// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/************HEADER**********/

.annoucement-bar {
  font-size: 0.8rem;
  border-bottom: 1px solid var(--bs-gray);

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    margin: 0 -10px;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;

      .bi {
        background-color: var(--bs-icon-background);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
